Repository shaharmor/node-module-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run reformat:glob, npm run lint:eslint:glob, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["npm run reformat:glob", "npm run lint:eslint:glob"],
  "package.json": ["sort-package-json"]
}

chore(package): improve eslint integration
  .eslintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
  tsconfig.eslint.json
  tsconfig.json
Due: sort-package-json

chore(package): lint only src/ folder
  package.json
Due: sort-package-json

chore(deps): update dependencies
  package-lock.json
  package.json
Due: sort-package-json

chore(jest): ignore js-test diagnostics in tests
  jest.config.js
Due: none

chore(repo): update linting
  .eslintrc.js
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc.json
  jest.config.js
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: sort-package-json

chore(repo): add prepublish script
  package.json
Due: sort-package-json

chore(repo): update build & lint scripts
  package.json
Due: sort-package-json

chore(repo): bump deps
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
Due: sort-package-json

chore(repo): bump deps
  package-lock.json
  package.json
Due: sort-package-json

chore(repo): reorganize scripts
  .eslintignore
  .huskyrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: sort-package-json

chore(repo): bump dependencies
  package-lock.json
  package.json
Due: sort-package-json

chore(repo): bump dependencies
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  src/main.ts
Due: npm run reformat:glob, npm run lint:eslint:glob, sort-package-json

chore(repo): add PR pre merge action
  .github/workflows/pre-merge.yml
  src/entry.ts
  src/hello.test.ts
  src/hello.ts
  src/main.test.ts
  src/main.ts
  tsconfig.json
Due: npm run reformat:glob, npm run lint:eslint:glob

chore(repo): fix typo
  .github/workflows/pre-merge.yml
Due: none

chore(repo): add env. prefix
  .github/workflows/pre-merge.yml
Due: none

chore(repo): use direct values
  .github/workflows/pre-merge.yml
Due: none

chore(repo): test
  .github/workflows/pre-merge.yml
Due: none

chore(repo): add PR pre merge action (#264)
  .github/workflows/pre-merge.yml
  src/entry.ts
  src/hello.test.ts
  src/hello.ts
  src/main.test.ts
  src/main.ts
  tsconfig.json
Due: npm run reformat:glob, npm run lint:eslint:glob

chore(repo): add PR action
  .github/workflows/pr.yml
Due: none

chore(repo): add PR action (#265)
  .github/workflows/pr.yml
Due: none

test(repo): fail test on purpose
  src/hello.ts
Due: npm run reformat:glob, npm run lint:eslint:glob

test(repo): fail test on purpose
  .github/workflows/pr.yml
Due: none

chore(repo): bump dependencies
  .github/workflows/pr.yml
  .node-version
  package-lock.json
  package.json
Due: sort-package-json

chore(repo): bump @shaharmor/eslint-config
  .github/workflows/pr.yml
  package-lock.json
  package.json
Due: sort-package-json

chore(repo): update dependabot
  .github/dependabot.yml
  .github/workflows/pr.yml
Due: none

chore(dev-deps): bump dev dependencies
  package-lock.json
  package.json
Due: sort-package-json

remove commitlint, jest typescript
  .commitlintrc.json
  jest.config.js
  jest.config.ts
  package-lock.json
  package.json
Due: npm run reformat:glob, npm run lint:eslint:glob, sort-package-json

run PR github action on master branch
  .github/workflows/pr.yml
  .huskyrc.json
Due: none

bump dev-deps
  package-lock.json
  package.json
Due: sort-package-json

test annotations
  .eslintrc.js
  src/hello.ts
Due: npm run reformat:glob, npm run lint:eslint:glob

remove dependabot
  .github/dependabot.yml
Due: none

add dependabot
  .github/dependabot.yml
Due: none

remove unneeded eslint-ignore comment
  jest.config.ts
Due: npm run reformat:glob, npm run lint:eslint:glob

chore(deps-dev): bump @shaharmor/eslint-config from 2.1.4 to 7.14.0
  package-lock.json
  package.json
Due: sort-package-json

use new @shaharmor/eslint-config format
  .eslintrc.js
  package-lock.json
  package.json
Due: sort-package-json

bump @shaharmor/eslint-config from 7.15.1 to 7.16.1
  .lintstagedrc.json
  package-lock.json
  package.json
Due: sort-package-json

run prettier
  .eslintrc.js
  .github/dependabot.yml
  .lintstagedrc.json
  README.md
  tsconfig.json
Due: none
